*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    cursor: pointer;
    transition: 0.5s;
}
a:hover{
    color: black;
}

.bi{
    cursor: pointer;
    transition: 0.5s;
}

.bi:hover{
    color: black;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}   

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 5%;
}

.col-2 img{
    max-width: 100%;
    padding-top: 15%;
    padding-left: 30%;
    padding-bottom: 10%;
}

.col-2 h1{
    font-size: 37px;
    line-height: 60px;
    margin: 5px 0;
}

.btn{
    display: inline-block;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}

.categories{
    margin: 70px 0; 
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.compressor{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
    cursor: pointer;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #000;
}

.title::after{
    content: '';
    background: rgb(0, 0, 0);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: black;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.col-4:hover{
    transform: translateY(-5px);
}


.collapse{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.col-5{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
}

.col-5:hover{
    transform: translate(-5px);
}

.view p{
    text-align: center;
    justify-content: center;
    position: relative;
}


.About{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 20px;
    color: #000;
    padding-top: 5%;
}

.About img{
    width: 100px;
    padding-bottom: 15px;
}

.h5{ 
    font-size: 14px;
    color: rgb(100, 97, 97);
}

.lead{
    font-size: medium;
}

.wrapper p{
    text-align: center;
    position: relative;
    justify-content: center;
}

.socmed p{
    text-align: center;
    position: relative;
}

/*-------cart--------*/

.add-cart{
    color: #000;
    cursor: pointer;
    text-align: center;
}
.col-4:hover .cart1, .cart2, .cart3, .cart4
.col-5:hover .cart1, .cart2, .cart3, .cart4{
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
    
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 5px 0;
}

.basketTotalTitle {
    width: 15%;
}

.basketTotal{
    width: 30%;
}

.wrapper1{
    width: 100%;
    padding: 10px;
}

.container1{
    max-width: 500px;
    height: auto;
    margin: 0px auto;
    background: #fff;
    padding: 20px 40px 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 7px solid #212422;
  }
  
.title1{
    color: #212422;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}
  
.input-form{
    margin-bottom: 20px;
}
  
.input-form .label{
    display: block;
    font-size: 1em;
    color: #212121;
    text-transform: capitalize;
    margin-bottom: 8px;
}
  
.input-form .items1{
    margin-bottom: 20px;
}
  
.section-1 .items1 .input,
.section-2 .items1 .input,
.section-3 .items1 .input{
    background: transparent;
    border: 2px solid #BDBDBD;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #212121;
    border-radius: 3px;
}
  
.input-form .section-3{
    display: flex;
    justify-content: space-between;
}
  
.input-form .section-3 .items1{
    width: 48%;
}

.cvc{
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all 0.3s ease;
}
  
.cvc .tooltip{
color: #d4d4d4;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align:center;
    cursor: pointer;
}
  
.cvc .cvc-img{
    position: absolute;
    top: -300%;
    right: 0;
    background: #5f6c7d;
    padding: 12px;
    border-radius: 5px;
    display: none;
}
  
.cvc .cvc-img img{
    width: 100px;
    height: auto;
    display: block;
}
  
.cvc:hover .cvc-img{
    display: block;
}
  